header {
    background: url('/static/images/moon-and-earth-header.jpeg');
    text-align: center;
    color: darkorange;
    margin: 0;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Gugi', cursive;
    border-top: 8px solid darkorange;
    
}

body {
    margin: 0;
    padding: 0;
    
}

.menu {
    background-color: darkorange;
    overflow: hidden;
    border-left: 120px solid darkorange;
    border-right: 120px solid darkorange;
    border-bottom: 5px solid darkorange;
    

}

.menu a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    display: block;
    box-shadow: 5px 5px 10px black;
}

.menu a:hover {
    background-color: dodgerblue;
    color: black;
}

.menu a:active {
    background-color: darkorange;
    box-shadow: 0 5px black;
    transform: translateY(4px);
  }





#model1 {
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: monospace;
    text-decoration: underline;
    color: darkorange;
}

#stock1 {
    text-align: center;
    margin: auto;
    font-size: 30px;
    border: 3px solid red;
}

#stock2 {
    text-align: center;
    margin: auto;
    font-size: 30px;
    border: 3px solid goldenrod;
}

#stock3 {
    text-align: center;
    margin: auto;
    font-size: 30px;
    border: 3px solid green;
    
    
}

#view  {
    margin: auto;
    display: block;
    background-color: yellow;
    font-size: large;
    border-radius: 8px;
    

}

#view2 {
    margin: auto;
    background-color: yellow;
    font-size: large;
    border-radius: 8px;

}

#section1 {
    border-top: 30px black solid;
    border-right: 30px black solid;
    border-bottom: 20px darkorange solid;
    border-left: 20px darkorange solid;
    justify-content: center;
    font-size: 20px;
    background-color: black;
    color: white;
    
}

#section2 {
    border-top: 30px black solid;
    border-right: 30px black solid;
    border-bottom: 20px darkorange solid;
    border-left: 20px darkorange solid;
    justify-content: center;
    font-size: 20px;
    background-color: black;
    color: white;
    
}

#section3 {
    background-image:url('/static/images/footer.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 250px;
    

}

footer {
  background-color: darkorange;
  text-align: center;
  font-size: 25px;
  font-family: 'Gugi', cursive;
  padding: 2px;
  margin: auto;

    
    
}

#home {
    color: darkorange;
    font-size: 60px;
    background-color: black;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#hr1 {
    background-color: darkorange;
    padding: 3px;
    color: darkorange;
    margin: auto;
    border: solid 1px darkorange;
}

#content {
    border-left: solid black 120px;
    border-right: solid black 120px;
} 

#select1 {
    background-color: darkorange;
    min-width: 160px;
    box-shadow: 5px 5px 10px black;
    padding: 12px 16px;
    z-index: 1;
    color: white;
    padding: 14px 16px;
    border: 2px solid black;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 8px;
    outline: none;

}

#select1:hover {
    background-color: dodgerblue;
    color: black;

}

#form1 {
    display: block;
    float: right;
    
}

#form2 {
    
    text-align: center;
    font-size: 30px;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid darkorange;
    border-radius: 8px;
    font-size: 20px;
}

#button1 {
    border: 1px solid black;
    background-color: black;
    color: darkorange;
    font-size: 20px;
    border-radius: 8px;


}

#button1:hover {
    background-color: dodgerblue;
    color: black;

}

#button1:active {
    background-color: darkorange;
    box-shadow: 0 5px black;
    transform: translateY(4px);
  }


#text1 {
    font-size: 20px;
    font-family: 'Gugi', cursive;
    color: whitesmoke;
}

textarea {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid darkorange;
    border-radius: 8px;
    resize: none;
    font-size: 25px;
}

#activate {
    font-size: 40px;
    text-align: center;
}

#delete {
    text-align: center;
    
}