header {
    background:url('/static/images/header image.jpeg');
    text-align: center;
    color: rgb(255, 149, 0);
    margin: 0;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    font-size: 50px;
    
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: darkorange;
    overflow: hidden;
}

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 8px;
    border: 1px solid black;
    border-radius: 8px;
}

.menu a:hover {
    background-color: skyblue;
    color: black;
}

#content {
    border: 6px solid black;
    
    
}


