{% extends "base.html" %}
{% block content %}

<form action="/spaceships" method="post">

    <div>
        <label for="Model">Model</label>
        <input type="text" id="model" name="model" placeholder="Model" required autofocus>
    </div>
    <div>
        <label for="type">Type</label>
        <input type="text" id="type" name="type" placeholder="Type" required>
    </div>
    <div>
        <label for="manuacturer">Manufacturer:</label>
        <select name="manufacturer_id" id="manufacturer">
            {% for manufacturer in all_manufacturers %}
            <option value="{{ manufacturer.id }}" required>{{ manufacturer.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="description">Description</label>
        <textarea name="description" id="description" placeholder="Description" cols="30" rows="6" required></textarea>
    </div>
    <div>
        <label for="stock_quantity">Stock Quantity</label>
        <input type="number" id="stock_quantity" name="stock_quantity" placeholder="Stock Quantity" required>
    </div>
    <div>
        <label for="buying_cost">Buying Cost</label>
        <input type="number" id="buying_cost" name="buying_cost" placeholder="Buying Cost" required>
    </div>
    <div>
        <label for="selling_price">Selling Price</label>
        <input type="number" id="selling_price" name="selling_price" placeholder="Selling Price" required>
    </div>

    <button type="submit">Add Spaceship</button>
</form>

{% endblock %}