{% extends 'base.html'%}

{% block content %}

{% for spaceship in all_spaceships %}
  
<section id="section1">
   <head>
     
     {% if spaceship.stock_quantity == 0 %}
     <p id="stock1">
     <i style="color:red">OUT OF STOCK</i>
     </p>
     {% elif spaceship.stock_quantity <= 3 %}
     <p id="stock2">
     <i style="color:goldenrod">LOW STOCK</i>
     </p>
     {% else %}
     <p id="stock3">
     <i style="color:green">IN STOCK</i> 
     </p>
     {% endif %}
     <h1 id="model1">{{spaceship.model}}</h1>
     
   </head>
   <li> Type : {{ spaceship.type }} class  <a href="/spaceships/type/{{spaceship.type}}">view more in this class</a> </li>
   <li> Manufacturer : {{ spaceship.manufacturer.name }}</li>
   <li> {{ spaceship.description }}</li>
   <li> Stock Quantity: {{ spaceship.stock_quantity}} units</li>
   <li> Buying Cost : {{ spaceship.buying_cost }} credits</li>
   <li> Selling Price : {{ spaceship.selling_price }} credits</li>
   <li> Mark Up : {{ spaceship.mark_up()}} %</li>
    <hr id="hr1">
    <button id="view"><a href="/view/{{ spaceship.id }}">View {{spaceship.model}}</a></button>
    

    




</section>

{% endfor %}

{% endblock %}



