{% extends 'base.html'%}

{% block content %}

{% for spaceship in all_spaceships %}
  
<section>
   <li><a href="/view/{{ spaceship.id }}"> Model : {{ spaceship.model }}</a></li>
   <li> Type : {{ spaceship.type }}</li>
   <li> Manufacturer : {{ spaceship.manufacturer.name }}</li>
   <li> Description : {{ spaceship.description }}</li>
   {% if spaceship.stock_quantity == 0 %}
   <li> Stock : {{ spaceship.stock_quantity }} Out Of Stock</li>
   {% elif spaceship.stock_quantity <= 3 %}
   <li> Stock : {{ spaceship.stock_quantity }} Low Stock</li>
   {% else %}
   <li> Stock : {{ spaceship.stock_quantity }} In Stock</li>
   {% endif %}
   <li> Buying Cost : {{ spaceship.buying_cost }} credits</li>
   <li> Selling Price : {{ spaceship.selling_price }} credits</li>
    <hr>

    




</section>

{% endfor %}

{% endblock %}



