{% extends 'base.html'%}

{% block content %}

<section>
    <li> Model : {{ spaceship.model }}</li>
    <li> Type : {{ spaceship.type }}</li>
    <li> Manufacturer : {{ spaceship.manufacturer.name }}</li>
    <li> Description : {{ spaceship.description }}</li>
    <li> Stock : {{ spaceship.stock_quantity }} units</li>
    <li> Buying Cost : {{ spaceship.buying_cost }} credits</li>
    <li> Selling Price : {{ spaceship.selling_price }} credits</li>
     <hr>
 
     
 
 
 
 
 </section>

   
    

{% endblock %}