{% extends 'base.html'%}

{% block content %}

<section id="section1">
    <head>
        <h1 id="model1">{{spaceship.model}}</h1>
        {% if spaceship.stock_quantity == 0 %}
        <p id="stock1">
        <i style="color:red">OUT OF STOCK</i>
        </p>
        {% elif spaceship.stock_quantity <= 3 %}
        <p  id="stock2">
        <i style="color:goldenrod">LOW STOCK</i>
        </p>
        {% else %}
        <p  id="stock3" >
        <i style="color:green">IN STOCK</i> 
        </p>
        {% endif %}
   
      </head>
    <li> Type : {{ spaceship.type }}</li>
    <li> Manufacturer : {{ spaceship.manufacturer.name }}</li>
    <li> Description : {{ spaceship.description }}</li>
    <li> Stock Quantity: {{ spaceship.stock_quantity}} units</li>
    <li> Buying Cost : {{ spaceship.buying_cost }} credits</li>
    <li> Selling Price : {{ spaceship.selling_price }} credits</li>
    <li> Mark Up : {{ spaceship.mark_up()}} %</li>
     <hr id="hr1">
     <div>
        <li><a href="/spaceships/{{spaceship.id}}/edit">Edit Spaceship Details</a></li>
     </div>
     <form action="/spaceships/{{ spaceship.id }}/delete" method="POST">
     <input type="submit" value="DELETE">
     </form>
    
     
 
 
 
 
 </section>

   
    

{% endblock %}