{% extends 'base.html'%}

{% block content %}

{% for manufacturer in all_manufacturers %}
  
<section id="section1">
   <h1 id="model1">{{ manufacturer.name }}</li></h1>
   <p>{{ manufacturer.description }}</p>
   {% if manufacturer.active == true %}
   <p id="activate" style="color: greenyellow">Active <i class="fa-solid fa-thumbs-up"></i></p>
   {% else %}
   <p id="activate" style="color: red;">Deactivated <i class="fa-solid fa-thumbs-down"></i></p>
   {% endif %}
   <hr id="hr1">
   <button id="view"><a href="/show/{{ manufacturer.id }}"> View</a></button>

    




</section>

{% endfor %}

{% endblock %}