{% extends "base.html" %}
{% block content %}

<!-- couldn't get the manufacturer to save to the database until i changed methods to method for the post request -->

<form action="/manufacturers" method="post">
    <div>
        <label for="name">Company Name</label>
        <input type="text" id="name" name="name" description="name" placeholder="Company Name" required autofocus>
    </div>
    <div>
        <label for="description"></label>
        <textarea name="description" id="description" placeholder="Description" cols="30" rows="6" required></textarea>
    </div>
    <div>
        <button type="submit">Add Manufacturer</button>
    </div>
</form>

{% endblock %}