{% extends "base.html" %}
{% block content %}

<section id="section2">
<form id="form2" action="/manufacturers" method="post">
    <div>
        <label for="name"></label>
        <input type="text" id="name" name="name" description="name" placeholder="Company Name" required autofocus>
    </div>
    <div>
        <label for="active">Status :</label>
        <select name="active" id="select1">
            <option value="true">Active</option>
            <option value="false">Deactivated</option>
        </select>
    </div>
    <div>
        <label for="description"></label>
        <textarea name="description" id="description" placeholder="Add some details about your company...." cols="30" rows="6" required></textarea>
    </div>
    <div>
        <button id="view" type="submit">Add Manufacturer</button>
    </div>
</form>
</section>
{% endblock %}