<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galactic Emporium</title>
</head>
    <nav>
        <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/spaceships">Inventory</a></li>
        <li><a href="/manufacturers">Our Partners</a></li>
        </ul>
    </nav>
    <section id="content">
        {% block content %}
  
        {% endblock %}
    </section>
</html>