<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/abd676f9eb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <title id="title">Galactic Emporium</title>
</head>

  <body>
     <header>
        
        <h1>The Galactic Spaceship</h1>
        <h1>Emporium <i class="fa-brands fa-galactic-republic"></i></h1>
    </header>
        <nav class="menu">
            
            <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="/spaceships"><i class="fa-solid fa-database"></i> Inventory</a>
            <a href="/spaceships/add"><i class="fa-solid fa-align-left"></i> Add to Inventory</a>
            <a href="/manufacturers"><i class="fa-solid fa-people-group"></i> Our Partners</a>
            <a href="/manufacturers/new"><i class="fa-solid fa-handshake"></i> Become a Partner</a>
            <a href="/about"><i class="fa-solid fa-circle-info"></i> About</a>

            <form action="/spaceships/manufacturers" id="form1" method="post">
                <div>
                 <label for="manufacturer" id="text1">Select by Manufacturer :   </label>
                 <select name="manufacturer_id" id="select1">
                     {% for manufacturer in all_manufacturers %}
                     <option value="{{manufacturer.id}}">
                     
                     {{ manufacturer.name }}
                 </option>
                 {% endfor %}
                 </select>
                 <button type="submit" id="button1">View</button>
            </form>

            
            
        </nav>
        <section id="content">
            {% block content %}
    
            {% endblock %}
        </section>
        <footer id="foot">
           
        </footer>
    </body>
    </html>